.animate-border h2 {
  border-bottom: 4px solid transparent;
  position: relative;
}

.animate-border h2::before {
  content: "";
  background-color: #059C31;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 0;
  transition: all .3s;
}

.animate-border h2:hover::before {
  width: 100%;
}

.progress-bar {
  height: 20px;
  background-color: #059C31;
  width: 0;
  transition: width 2s ease;
}

.progress-bar.w-25 {
  width: 25%;
}


/*nos service*/

h3 {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

h3:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #8FC14E;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.7s;
  animation: animateTextBackground 3s infinite alternate;
}

@keyframes animateTextBackground {
  0% {
    transform: skewX(20deg) translateX(0);
  }

  100% {
    transform: skewX(20deg) translateX(600%);
  }
}

.modal.fade .modal-dialog {
  transform: scale(1.2);
  transition: transform .6s cubic-bezier(.75, .01, .26, 1.01);
}

.modal.show .modal-dialog {
  transform: scale(1);
}