* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("avion-vol-Paris-New-York.webp");
    background-size: cover;
    background-repeat: no-repeat;

}

/* Customizing the carousel for white background */
.carousel-indicators .active {
    background-color: green;
}
.carousel-indicators li {
    background-color: burlywood;
}
